[submodule "aladin"]
	path = aladin
	url = ssh://aur@aur.archlinux.org/aladin.git/
    ignore = dirty
[submodule "stilts"]
	path = stilts
	url = ssh://aur@aur.archlinux.org/stilts.git/
    ignore = dirty
[submodule "topcat"]
	path = topcat
	url = ssh://aur@aur.archlinux.org/topcat.git/
    ignore = dirty
[submodule "glnemo2"]
	path = glnemo2
	url = ssh://aur@aur.archlinux.org/glnemo2.git
